<nav class="nav">
	<div class="nav-title">
		<a href="/"><h1>Portfolio</h1></a>
	</div>
	<div class="nav-links">
		<a class="nav-link" href="/">Home</a>
		<a class="nav-link" href="/skills">Skills</a>
		<a class="nav-link" href="/projects">Projects</a>
		<a class="nav-link" href="/contact">Contact</a>
	</div>
</nav>