<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
	
	<%- include('./partials/nav.ejs') %>
	
	<ul>
		<li>Instagram</li>
		<li>Facebook</li>
		<li>Twitter</li>
		<li>LinkedIn</li>
	</ul>
</body>
</html>