<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

	<%- include('./partials/nav.ejs') %>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut excepturi inventore sit eligendi! Accusamus quis magni eos distinctio, cumque, maxime repellendus autem, nisi ipsam libero aut. Non nobis laudantium, iure.</p>
</body>
</html>